/* rule code */
:root
{
            --blue-color: #0075ff;
            --blue-alt-color: #0d69d5;
            --blue-alt-color: #0d69d5;
            --orange-color:#f59e0b;
            --green-color:#22c55e;
            --red-color:#f44336;
            --gray-color:#888;

}
/* End rule code */
/* Frame Work */
.logo{
      /* font-family:  'Dancing Script', "cursive"; */
      font-family: 'Marck Script', "cursive";
}
.logo .elhare{
      font-size: 30px;
}
.logo .ry{
      font-size: 40px;
}
*{
      outline: none;
      border: none;
}
/* textarea{
      resize: ;
} */
/* End Frame Work */
*
{
      box-sizing: border-box;
      --webkit--box-sizing: border-box;
      --moz--box-sizing: border-box;
      margin: 0;
      padding: 0;
}
::-webkit-scrollbar-thumb {
      background-color: var(--red-color);
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
      background-color: var(--red-color);
}

::-webkit-scrollbar {
      width: 10px;
      background-color: #eeeeee;
}
html
{
      scroll-behavior: smooth;
}
ul{
      display: flex; 
      justify-content: center;
}
body
{
      z-index: -20;
      position: relative;
      /* background-color: #000; */
      background-image: url(../image/background.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
      font-family: 'Comfortaa', 'cursive';
            font-family: 'Open Sans', sans-serif;
}
.navbar{
      padding: 10px;
      background-color: #fff;
}
.navbar .logo span:last-child{
      margin-left: -4px;
      font-weight: 600;
}
.navbar i{
      display: none;
      color: #000;
      /* transition: 0.5s; */
}
/* .active{
      background-color: red;
      border-radius: 10px;
      padding: 10px;
} */
li a{
            transition: 0.5s;
}
.navbar li{
      color: red;
      display: inline-block;
            padding: 10px 24px ;
}

.navbar li a:hover{
            color: red;
}
.navbar .ul i{
      display: none;
}
/* ul{
      display: none;
} */

/* .navbar i:hover + ul{
      display: block;

} */
@media (max-width: 767px){
      .navbar .ul i{
            display: block;
      }
      .ul{
            display: block;
}
ul{
      position: absolute;
      left: 0;
      background: #fff;
      width: 100%;
      top: -100px;
      z-index: -10;
      transition: 0.3s;
      display: flex;
      flex-direction: column;
}
      }
      .navbar i{
            display: block;
      }
      .navbar li:hover{
            left: 1px;
      }

.navbar .button{
      background-color: red;
      border-radius: 30px;
      padding: 10px;
      transition: 0.3s;
}
.navbar .button:hover{
      transform: scale(1.2);
}
/* .navbar ul li:not(:last-child){
      padding-right: 20px;
} */
/* section */
.section{
      /* background-image: url(../image/background.jpeg); */
      margin-top: 200px;
      margin-left: 60px;
      /* width: fit-content; */
      margin-right: 60px;
      
}
.section .img img{
      width: 50%;
      border-radius: 50%;
      background-color: #fff;
      transition: 0.4s;
      padding: 5px;
}
.section .img img:hover{
      background-color: red;
}
@media (max-width: 767px){
      .section{
            margin-left: 20px;
            width: fit-content;
            flex-direction: column-reverse;
      }
      .section .img img{
            width: 100%;
            margin-bottom: 50px;
      }
}
.section .message .redd{
      color: #fff;
      border: 2px solid red;
      border-radius: 5px;
      width: fit-content;
      padding: 5px;
      cursor: pointer;
      transition: .3s;
      background-color: red;
}
.section .message .redd:hover{
      background-color: #000;
}
.section .message .bb{
      background: #000;
      color: #fff;
      border: 2px solid red;
      border-radius: 5px;
      width: fit-content;
      padding: 5px;
      cursor: pointer;
      transition: .3s;
}
.section .message .bb:hover{
      background-color: red;

}
.section .links{
      padding: 10px 0;
}
.section .links div a{
      font-size: 30px;
}
.section > div > span{
      color: antiquewhite;
}
.section .inp input[type="email"]{
            border-radius: 15px;
            outline: none;
border: none;
padding: 10px;
width: 100%;
}
.section .inp input[type="submit"]{
      /* transform: translate(-83px, 1px); */
      border-radius: 15px;
      background-color: red;
      color: rgb(255, 255, 255);
      outline: none;
      border: none;
      padding: 6px;
      top: 4px;
      right: 6px;
}
/* end section */
@media (max-width:767px){
      .about,.services,.contact{
            margin-top: 50% !important;
      }
}
/* start about me */
      .about{
            height: fit-content;
            margin-top: 10%;
      }
      .about > h2{
            padding: 50px 0;
            font-size: 30px;
            font-weight: 700;
      }
      .about .about-me .img img{
            width: 400px;
      }
      .about .about-me .text p{
            line-height: 1.5;
            padding-top: 15px;
      }
      @media (max-width: 767px){
      .about .about-me .img img{
            width: 300px;
      }
      .about .about-me{
            flex-direction: column !important; 
      }
      .about .about-me .text{
            margin: 0 15px;
      }
}
/* end about me */
/* start serv */
      .services{
            padding: 50px 0;
            font-size: 30px;
            font-weight: 700;
            
      }
      .services h2{
            margin: 0 auto;
            width: fit-content;
      }
      .services .all-box{
            margin: 0 200px;
      }
      @media (min-width: 768px) and (max-width:1025px){
            .services .all-box{
                  margin: 0 50px;
            }
      }
      @media(max-width:767px){
            .services .all-box {
                  flex-direction: column !important;
                  margin: 0 20px;
            }
      }
      .services .all-box .box{
            background-color: #222;
            border-radius: 10px;
            margin-top: 30px;
            transition: .3s;
            cursor: pointer;
            position: relative;
      }
      .services .all-box .learned:hover{
            background-color: crimson;
      }
      .services .all-box .box i.not{
            color: crimson;
      }
      .services .all-box .box-2 i:not(:first-child),
      .services .all-box .box-3 i:not(:first-child){
            color: crimson;
      }
      .services .all-box .box-2 > div.rt,
      .services .all-box .box-3 > div.rt{
            padding: 10px;
            color: #fff;
            z-index: 9999;
            top: 50%;
            /* transform: translateY(-50%); */
            left: 50%;
            transform: translate(-50%, -50%);
      }
      .services .all-box .box-2 i.setting,
      .services .all-box .box-3 i.setting{
            /* padding: 10px;
            color: #fff;
            z-index: 9999;
            top: 50%;
            transform: translateY(-50%); */
            padding: 0;
            font-size: 35px;
            animation-name: rotate;
            animation-duration: 1s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            /* animation-direction: alternate; */
      }
      @keyframes rotate{
            to{
                  transform: rotate(360deg);
            }
      }
      .services .all-box .box{
            width: 100%;
      }
      .services .all-box .box-2,
      .services .all-box .box-3{
            position: relative;
            cursor:no-drop;
            width: 100%;
            height: 100%;
      }
      .services .all-box .box-2::after,
      .services .all-box .box-3::after{
            position: absolute;
            content: '';
            background: #000;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            opacity: .7;
      }
      .services .all-box .learned:hover i.not{
            color: #fff;
      }
      .services .all-box .box{
            padding: 20px;
            text-align: center;
      }
      .services .all-box .box i{
            font-size: 50px;
            padding: 10px;
      }
      .services .all-box .box h4{
            font-size: 15px;
            padding: 10px;
      }
      .services .all-box .box p{
            font-size: 15px;
            line-height: 2;
            padding: 10px;
      }
/* end serv */
/* Start Content */
      .content{
            padding-top: 30%;
      }
      @media (max-width: 767px){
            .content{
                  padding-top: 80%;
            }
      }
      .content > h2{
            animation-name: box;
            animation-duration: 0.8s;
            animation-timing-function: linear;
            animation-direction: alternate;
            animation-iteration-count: infinite;
            font-size: 40px;
            text-align: center;
            margin: auto;
            width: fit-content;
            background: red;
            border-radius: 30px;
            padding: 7px;
            margin-bottom: 50px;
            /* transition: 0.5s; */
            /* box-shadow: 0 0 10px 0 #fff; */
      }
      @keyframes box{
            to{
            box-shadow: 0 0 10px 0 #fff;
            }
      }
      .content .boxes .box {
            /* background-color: var(--gray-color); */
            background-color: #88888854;
            border-radius: 7px;
      }
      .content .boxes .box:not(:last-child) {
            /* margin-right: 10%; */
      }
      @media (max-width: 767px){
            .content .boxes {
                  flex-wrap: wrap;
            }
            .content .boxes .box:not(:last-child){
                  /* margin:0 0 25px 0; */
            }

      }
      .content .boxes .box > img{
            width: 200px;
            border-radius: 7px;
            transition: 0.4s; 
            cursor: pointer;
            height: 140px;
      }
      .content .boxes .box > img:hover{
            transform: scale(1.1);
      }
      .content .boxes .box span{
            color: grey;
            padding-top: 10px;
      }
      .content .boxes .box p{
            color: grey;
            font-size: 10px;
            padding-right: 15px;
      }
      .content .boxes .box a{
            color: gray;
      }
      .content .boxes .box .info{
            display: flex;
            align-items: center;
            border-top: 1px solid grey;
      }
      .content .boxes .box .info > div:hover  a{
            background: gray;
            border-radius: 5px;
            color: #fff;
      }
      .content .boxes .box .info > div a{
            transition: 0.3s;
            padding: 2px;
            /* animation-duration: 0.3s;
            animation-name: up;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-direction: alternate; */
      }
      /* @keyframes up{
            to{
                  transform: scale(1);
            }
      } */
/* End Content */
/* Start skills */
.before::before{
      content: '';
      background: #fff;
      width: 50%;
      height: 2px;
      display: block;
}
.skill h4{
      font-size: 30px;
      padding: 10px 0;
}
.skills{
      display: flex;
      gap: 20px;
}
.skills .html{
      color: var(--orange-color);
      font-size: 40px;
      position: relative;
}
.skills .html::before{
      font-family: 'Pushster', "cursive";
      position: absolute;
      content: 'HTML';
      top: 100%;
      font-size: 12px;
}
.skills .css{
      color: var(--blue-color);
      font-size: 40px;
      position: relative;
      
}
.skills .css::before{
      font-family: 'Pushster', "cursive";
      position: absolute;
      content: 'CSS';
      top: 100%;
      font-size: 12px;
}
.skills .sass{
      color: violet;
      font-size: 40px;
      position: relative;
}
.skills .sass::before{
      font-family: 'Pushster', "cursive";
      position: absolute;
      content: 'SASS';
      top: 100%;
      font-size: 12px;
}
/* End skills */
/* start contact */
.contact{
      background-color: #fff;
}
@media (max-width: 767px){
      .contact{
      }
      .contact > div{
            flex-direction: column;
      }
}
.contact .all{
      margin: 0 50px;
}
.contact > h2{
      color: #000;
      padding: 50px 0;
      font-size: 30px;
      font-weight: 700;
      width: fit-content;
      margin: 0 auto;
      /* animation-name: box;
      animation-duration: 0.8s;
      animation-timing-function: linear;
      animation-direction: alternate;
      animation-iteration-count: infinite;
      font-size: 40px;
      text-align: center;
      margin: auto;
      width: fit-content;
      border-radius: 30px;
      margin-bottom: 50px; */
}
/* @keyframes box{
      to{
      box-shadow: 0 0 10px 0 #fff;
      }
} */
.contact .box{
      background-color: rgb(34, 34, 34);
      border-radius: 10px;
      padding: 10px;
      transition: 0.4s;
      width: 100%;
      /* height: 155px; */
}
.contact .box:hover{
      transform: translateY(-10px);
}
.contact .box a{
      padding: 35px;
      font-size: 25px;
}
.contact .box span{
      font-size: 12px;
}
.contact form input[type="username"]{}
.contact form input[type="email"]{}
.contact form textarea{}
/* end contact */
